extends layout.pug

block content
    form(action=`/hobbyPosts/${post.id}/delete` method='post')
        div
            p= `${post.title}`
        div
            p= `${post.content}`
        div

            button(type='submit') Delete Post
            a(href='/') Cancel
