extends layout.pug

block content
  table(class='hobby-list')
    thead(class='hobby-list-head')
      tr
        th(scope='col') User
        th(scope='col') Title
        th(scope='col') Shared On
    tbody
      each hobbyPost in hobbyPosts
        tr
          td= `${hobbyPost.User.firstName} ${hobbyPost.User.lastName}`
          td= hobbyPost.title
          td= hobbyPost.sharedOn