doctype html
html
  head
      block head
        title="Intermediate"
        link(rel='stylesheet' href='/stylesheets/reset.css')
  body
    if locals.authenticated
      span(class='welcome') Welcome #{user.firstName}!
      form(class='logout' action='/logout' method='post')
        button(class='logout-button' type='submit') Logout
    else
      span(class='login-and-register')
        a(class='login' href='/login') Login
        a(class='register' href='/users/sign-up') Register
    block content