extends layout.pug

block content
    if locals.user
        if locals.user.id === post.userId
            form(action=`/hobbyposts/${post.id}/delete` method='post')
                div
                    p= `${post.title}`
                div
                    p= `${post.content}`
                div
                    button(type='submit') Delete Post
                    a(href=`/hobbyposts/${post.id}`) Cancel
