doctype html
html
  head
      block head
        title="InterMedium"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/hobbypost.css')
        link(rel='stylesheet' href='/stylesheets/homepage.css')
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
  body
        if locals.authenticated
          div(class='container login-head')
            div(class='left-side')
              a(class='home' href='/') InterMedium
              span(class='welcome') Welcome #{user.firstName}!
            div(class='buttons-container')
              form(class='share-hobby' action='/hobbyPosts/new' method='get')
                button(class='share-hobby-button' type='submit') Share Your Hobby
              form(class='logout' action='/users/logout' method='post')
                button(class='logout-button' type='submit') Logout
        else
          div(class='container')
            div(class='navbar')
                div
                  a(class='home' href='/') InterMedium
                div
                  a(class='login space' href='/login') Login
                  a(class='register space' href='/users/sign-up') Register
                  a(class='demo-user space' href='/login/demo-login') Login As Demo User
        block content
