extends layout.pug

include utils.pug

block content
  link(rel='stylesheet' href='/stylesheets/log-reg.css')
  
  div(class="bkgd-div-right")
    img(src="../background5.png" id='bkgd2')
  
  +validationErrorSummary(errors)
  form(action='/login' method='post')
    div(class='log-bod')
      h1(class='log-title') Login
      input(class='input' type='hidden' name='_csrf' value=csrfToken)
      input(class='input', type='email', name='email', placeholder='Email')
      input(class='input', type='password', name='password', placeholder='Password')
      div(class='login-buttons btndiv')
        button(type='submit' class='login-submit logbtn btn') LOGIN
        a(href='/' class='login-cancel rightbtn btn') CANCEL
