extends layout.pug

include utils.pug

block content
  link(rel='stylesheet' href='/stylesheets/log-reg.css')
  +validationErrorSummary(errors)
  form(action='/users/sign-up' method='post')
    div(class='log-bod')
      h1(class='log-title') Register
      input(class='input' type='hidden' name='_csrf' value=csrfToken)
      input(class='input', type='text', name='firstName', placeholder='First Name', value= user.firstName)
      input(class='input', type='text', name='lastName', placeholder='Last Name', value= user.lastName)
      input(class='input', type='email', name='email', placeholder='Email', value= user.email)
      input(class='input', type='password', name='password', placeholder='Password', value= user.password)
      input(class='input', type='password', name='confirmPassword', placeholder='Confirm Password')
      div(class='register-buttons btndiv')
        button(type='submit' class='register-submit leftbtn btn') REGISTER
        a(href='/' class='register-cancel rightbtn btn') CANCEL