.postpage-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.postpage-title{
    font-size: 40px;
    
}

.post-details{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 25px;
    /* justify-content: space-around; */
}

.postpage-fullname{
    color: goldenrod;
    margin-right: 10px;
}

.postpage-date{
    margin-left: 10px;
}

.postpage-content{
    font-size: 20px;
    margin-bottom: 25px;
}

.edit-delete-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
