

.postpage-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 650px;
    margin: 0 auto;
}


.postpage-title{
    margin-top: 25px;
    font-family: medium-content-title-font,Georgia,Cambria,"Times New Roman",Times,serif;
    font-size: 42px;

}

.likes::before {
    cursor: pointer;
    content: "🤙 ";
    font-size: 20px;
    filter: brightness(1) contrast(110%) saturate(80%) hue-rotate(355deg)
}

.likes:hover{
filter: hue-rotate(190deg);

}

.auth::before {
    content: "🤙 ";
    font-size: 20px;
    filter: hue-rotate(175deg);
    margin-left: 10px;
}


.likes{
    margin-left: 10px;
    border: none;
    background-color: transparent;
    margin-bottom: 3px;
    font-size: 20px
}

.post-details{
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: Georgia,Cambria,"Times New Roman",Times,serif;
    font-size: 21px;
    align-items: center;
    /* justify-content: space-around; */
}

.fa-user-circle{

    color: rgb(46, 40, 40);

}

.fa.fa-ellipsis-h {
    height: 10px;
    font-size: 30px;
    margin-right: 10px;
}

.postpage-fullname{
    color: goldenrod;
    margin-left: 7px;
    margin-right: 10px;
    text-decoration: none;
}

.postpage-date{
    margin-left: 10px;
    margin-right: 10px
}
.postpage-content{
    font-family: Georgia,Cambria,"Times New Roman", Times, Serif;
    font-size: 21px;
    font-weight: normal;
    margin-bottom: 25px;
    line-height: 1.6;
    text-align: left;
    text-indent: 50px;
    width: 100%;
}

.dropdown-container {
    overflow: hidden;
    float: left;

}

.dropdown-container {
    border: none;
    outline: none;
    font-size: 15px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

.dropdwnbtn {
    border: none;
    outline: none;
    color: black;
    font-size: 15px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    margin-left: 10px;
    margin-top: 1px;
  }

.dropdown-options {
    display: none;
    position: absolute;
    background-color: black;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width: 160px;
    border-radius: 5px;

  }

.dropdown-options a {
    margin: 0 auto;
    color: black;
    padding: 12px 16px;
    display: block;
    text-align: left;
    text-decoration: none;
    color: white
  }

.dropdown-options a:hover {
    /* border: solid black; */
    border-radius: 5px;
    cursor: pointer;
    background-color: rgba(118, 179, 178, 0.701);

}

.dropdown-container:hover .dropdown-options {
    display: block;
  }


#content.comment-form-control{
    display: flex;
    width:650px;
    height: 120px;
    max-width: 650px;
    font-size: 18px;
    margin: 0 auto;
    border: solid 2px #bcc2c7;
    border-radius: 0.25rem;
    resize: none;
    outline: none;
    padding-left: 5px;
    font-family: 'Georgia,Cambria,"Times New Roman",Times,serif';
    /* box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 16%) !important; */
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 /12%) !important;
}

#content.comment-form-control::placeholder {
    font-family: 'Georgia,Cambria,"Times New Roman",Times,serif';
    font-size: 18px;
    text-transform: capitalize;
    color:#b3b3b1;
    font-weight: 400px;
    letter-spacing: 1px;

}

.commentbtn-container{
    display: flex;
    justify-content: flex-end;
    max-width: 650px;
    margin: 0 auto;
}

.submit-comment{
    font-family: sohne, Helvetica Neue, Helvetica, Arial, sans-serif;
    /* text-shadow: 0 1px #fff; */
    color: white;
    font-weight: 1px;
    border: black solid;
    font-size: 15px;
    text-decoration: none;
    border-radius: 50px;
    padding: 5px 10px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    transition-duration: 00.2s;
    margin-top: 10px;
}

.submit-comment:hover {
    border: solid;
    cursor: pointer;
    background-color: rgba(118, 179, 178, 0.701);
    text-align: center;
}


.comments-container{
    display: flex;
    flex-direction: column;
    max-width: 650px;
    margin: 0 auto;
    margin-top: 20px;
}

.comments-box{
    border-bottom: solid 1px lightgray;
    max-width: 650px;
}

.user-header{
    max-width: 650px;
    color: goldenrod;
    margin-top: 10px;
    font-weight: bold;
}

.comments-body{
    max-width: 650px;
}

.comments-content{
    line-height: 1.6;
}

.unauth-comments{
    display: flex;
    justify-content: center;
}

.cmnt-title-border{
    display: flex;
    justify-content: center;
    border-bottom: solid 1px lightgray;
    max-width: 650px;
    margin: 0 auto;
    margin-top: 10px;
}


.edit-comment-btn{
    display: flex;
    justify-content: flex-end;
    font-family: sohne, Helvetica Neue, Helvetica, Arial, sans-serif;
    /* text-shadow: 0 1px #fff; */
    color: rgb(255, 255, 255);
    font-weight: 1px;
    border: black solid;
    border-radius: 50px;
    padding: 4px 8px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    transition-duration: 00.2s;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 600px;
}


.edit-comment-btn:hover {
    border: solid;
    cursor: pointer;
    background-color: rgba(118, 179, 178, 0.701);
    text-align: center;
}

.edit-button{
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    font-size: 15px;

}
