/* this is the home header */
.home-header-container {
    margin: auto;
    margin-top: 55px;
    padding: 20px 0px 10px;
    width: 850px;

}

.name-and-date-group {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 10px;
    margin-top: 28px;
    align-items: center;
}
.name-and-date-group.users{
    margin-bottom: 0;
}

.post-group {
    /* border-bottom: solid 1px lightgray;
    margin-left: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-bottom: solid 1px lightgray ;
}

.home-page-post-author {
    text-decoration: none;
    font-size: 14px;
    color: rgba(41, 41, 41, 1);
    font-weight: 400;
}

.home-page-post-author:hover {
    cursor:pointer;
}

.home-page-title-link {
    text-decoration: none;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(41, 41, 41, 1);
    font-size: 16px;
    line-height: 20px;
    /* transition-property: font-size;
    transition-delay: .2s;
    transition-duration: .5s; */
}

.home-page-title-link:hover {
    /* font-size: 19px; */
   
}

    /* margin-left: 20px; */


.home-page-share-date {
    color: rgba(117, 117, 117, 1);
    font-size: 14px;
}

.title-link-container {
    margin-bottom: 20px;
    font-weight: 400;
}



.home-header {
    font-size: 22px;
    font-weight: bold;
    color: rgba(41, 41, 41, 1);
}
