/* this is the home header */
.home-header-container {
    font-family: 'Georgia,Cambria,"Times New Roman",Times,serif';
    margin: auto;
    margin-top: 40px;
    padding: 20px 0px 10px;
    width: 850px;

}

.home-header {
    display: flex;
    justify-content: center;
}

.name-and-date-group {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 10px;
    margin-top: 16px;
    align-items: center;
}
.name-and-date-group.users{
    margin-bottom: 0;
    margin-top: 5px;

}

.post-group {
    /* border-bottom: solid 1px lightgray;
    margin-left: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-bottom: solid 1px lightgray ;
    transition: background-color 1000ms;
    padding-left: 20px;

}
.post-group:hover {
    background-color: #eceff1;
    box-shadow: 0 2px 1px rgba(0,0,0,.5)

}

.home-page-post-author {
    text-decoration: none;
    font-size: 14px;
    color: rgba(41, 41, 41, 1);
    font-weight: 400;
}

.home-page-post-author:hover {
    cursor:pointer;
}

.home-page-title-link {
    text-decoration: none;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(41, 41, 41, 1);
    font-size: 16px;
    line-height: 20px;
    /* transition-property: font-size;
    transition-delay: .2s;
    transition-duration: .5s; */
}

.home-page-title-link:hover {
    /* font-size: 19px; */

}

    /* margin-left: 20px; */


.home-page-share-date {
    color: rgba(117, 117, 117, 1);
    font-size: 14px;
}

.title-link-container {
    margin-bottom: 20px;
    font-weight: 400;
}
.title-link-container.users {
    margin-bottom: 10px;
}



.home-header {
    font-size: 22px;
    font-weight: bold;
    color: rgba(41, 41, 41, 1);
}

.edit-delete-container{
    padding-bottom: 5px;
    display: flex;
    gap: 10px;
}

.post-group {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px ;
    margin: 10px;
}

.header-con{
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 80px;
    margin: 0,auto;
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 /12%) !important;

}

.header-con-con{
    display: flex;
    justify-content: center;
}

.bkgd-div-right{
  /* max-height: 10px;
  max-width: 20px; */

  /* bottom: -100px;
  right: 0px;
  z-index: -2;
  position: absolute;
  transform: scaleX(-1); */

  /* bottom: -50px; */
  /* left: -50px; */
  /* width:50vw;
  height: 50vh; */

  position: fixed;
  z-index: -1;
  top: 0;
  left: -11vh;

}

#bkgd{
   max-width: 800px;
  /* position: sticky;
  bottom: -50px;
  height: 100vh; */
}
#bkgd2{
  /* max-height:1fr; */

  /* height: fit-content;
  max-height: 1000px; */

  /* max-width: 200px; */

  position: sticky;
  top: 0;


  height: 105vh;

}
