.input {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    margin-bottom: 25px;

}

.each-field{

}

.log-title{
    align-self: center;
}

.log-bod{

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    margin-top: 100px;
    margin-bottom: 25px;
    margin-left: 100px;
}

.btndiv{
    display: flex;
    justify-content: center;

}

.btn {

    font-family: Arial, Helvetica, sans-serif;
    /* text-shadow: 0 1px #fff; */
    color: white;
    font-weight: normal;
    border: black solid;
    font-size: 15px;
    text-decoration: none;
    border-radius: 50px;
    padding: 5px 10px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    transition-duration: 0.3s;
}

.btn:hover {
    border: solid black 1.5px;
    cursor: pointer;
    background-color: rgba(118, 179, 178, 0.701);
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 50px;
}

.leftbtn{
    margin-right: 100px;
}

.rightbtn{
    margin-left: 100px;
}
