body{
    /* background-image: url(../background5.png);
    background-repeat: no-repeat;
    background-size:70% 200%; */
    /* background: linear-gradient(to right, goldenrod, white, white, white, white, goldenrod) */
    
}

form{
    display:flex;
    justify-content: center;
    padding: 15px;
    font-family: 'Georgia,Cambria,"Times New Roman",Times,serif';
    /* border: black solid; */
   
}

.input {
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
    /* border-radius: 5px; */
    /* border: solid gray 1px; */
    justify-content: space-between;
    padding: 5px 10px 5px 5px;
    margin-top: 10px;
    margin-bottom: 50px;
    /* margin-left: 50px; */
    /* margin-right: 50px; */
    font-family: monospace;

    background-color: #fff;
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 /12%) !important;
    width:100%;

}

input:focus{
    outline: none;
}
input::placeholder{
    font-size: 15px;
    font-family: 'Georgia,Cambria,"Times New Roman",Times,serif';
    width: 100%;
}
::-webkit-input-placeholder{
    text-align:center;

}

input:focus::placeholder{
    color:transparent;
}

.input:focus::placeholder {
  color: transparent;
}


.log-title{
    align-self: center;
    margin-bottom: 50px;
    font-family: 'medium-content-title-font,Georgia,Cambria,"Times New Roman",Times,serif';
}

.log-bod{

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    margin-top: 100px;
    margin-bottom: 25px;
    /* border: solid black 1px; */
    border-radius: 20px;
    padding: 100px;
    /* margin-left: 100px; */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 /12%) !important;
    background-color: rgb(255, 255, 255) ;

}

.btndiv{
    display: flex;
    justify-content: center;

}

.btn {

    font-family: sohne, Helvetica Neue, Helvetica, Arial, sans-serif;
    /* text-shadow: 0 1px #fff; */
    color: rgba(255, 255, 255, 0.803);
    font-weight: 1px;
    border: black solid;
    font-size: 15px;
    text-decoration: none;
    border-radius: 50px;
    padding: 5px 10px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    transition-duration: 00.2s;
}

.btn:hover {
    border: solid;
    cursor: pointer;
    background-color: rgba(118, 179, 178, 0.701);
    text-align: center;
}

.leftbtn{
    margin-right: 100px;
}

.logbtn{
    margin-right: 100px;
    padding: 5px 18.5px;
}

.rightbtn{
    margin-left: 100px;
    padding: 5px 14px;
}

.bkgd-div-left{
  size: 100px;
  z-index: -1;
  position: absolute;
  bottom: -100px;
  left: -100px; 
  bottom:0;
  display: inline; */

}

.bkgd-div-right{
  /* max-height: 10px;
  max-width: 20px; */

  /* bottom: -100px;
  right: 0px;
  z-index: -2;
  position: absolute;
  transform: scaleX(-1); */

  /* bottom: -50px; */
  /* left: -50px; */
  /* width:50vw;
  height: 50vh; */

  position: absolute;
  z-index: -1;

}

#bkgd{
   max-width: 800px;  
  /* position: sticky;
  bottom: -50px;
  height: 100vh; */
}
#bkgd2{
  /* max-height:1fr; */

  /* height: fit-content; 
  max-height: 1000px; */

  /* max-width: 200px; */

  position: sticky;
  top: 0;
  height: 105vh;
  
}

#homebk{
    height: 100vh;
    width: 100vw;
    /* position: absolute; */
    z-index: -1;
    position: fixed;
}

.post-group {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px ;
    margin: 5px;
}

.header-con{
    background-color: lightsalmon;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    height: 50px;
    margin: 0,auto
}