body{
    background-image: linear-gradient(to right, rgba(6, 0, 123, 0.208),white,white,white,rgba(235, 110, 0, 0.208));
}

form{
    display:flex;
    justify-content: center;
    padding: 15px;
    font-family: sohne, Helvetica Neue, Helvetica, Arial, sans-serif;
    /* background-color: rgba(118, 179, 178, 0.701); */
    /* border: black solid 1px; */

}

.input {
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
    /* border-radius: 5px; */
    /* border: solid gray 1px; */
    justify-content: space-between;
    padding: 5px 10px 5px 5px;
    margin-top: 10px;
    margin-bottom: 50px;
    /* margin-left: 50px; */
    /* margin-right: 50px; */
    font-family: monospace;

    background-color: #fff;
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 /12%) !important;

}

input:focus{
    outline: none;
} 
input::placeholder{
    font-size: 15px;
}
::-webkit-input-placeholder{
    text-align:center;

}

input:focus::placeholder{
    color:transparent;
}

.input:focus::placeholder {
  color: transparent;
}


.log-title{
    align-self: center;
    margin-bottom: 50px;
    font-family: 'medium-content-title-font,Georgia,Cambria,"Times New Roman",Times,serif';
}

.log-bod{

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    margin-top: 100px;
    margin-bottom: 25px;
    /* border: solid black 1px; */
    border-radius: 20px;
    padding: 100px;
    /* margin-left: 100px; */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 /12%) !important;
}

.btndiv{
    display: flex;
    justify-content: center;

}

.btn {

    font-family: sohne, Helvetica Neue, Helvetica, Arial, sans-serif;
    /* text-shadow: 0 1px #fff; */
    color: white;
    font-weight: 1px;
    border: black solid;
    font-size: 15px;
    text-decoration: none;
    border-radius: 50px;
    padding: 5px 10px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    transition-duration: 00.2s;
}

.btn:hover {
    border: solid;
    cursor: pointer;
    background-color: rgba(118, 179, 178, 0.701);
    text-align: center;
}

.leftbtn{
    margin-right: 100px;
}

.logbtn{
    margin-right: 100px;
    padding: 5px 18.5px;
}

.rightbtn{
    margin-left: 100px;
    padding: 5px 14px;
}
