
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  /* background-image: url(../background4.png);
  background-repeat: no-repeat;
  background-size:500px;
  background-position: 0px 550px; */
}


* {
  box-sizing: border-box;

  
}

.welcome{
  color: black;
  margin-left: 10px;
  font-size: 20px;
  margin-top: 5px;
}

.home.text{
  font-size: 28px;
}
#imgLogo {
  margin-top: 2px;
}

.container.container.login-head.invisible{
  margin: 0;
  background-color: white;
}

.left-side{
  display: flex;
  justify-self: flex-start;
  gap: 1px;
  align-items: center;
  flex-direction: row;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  align-items: center;
}

.container.login-head {
  display: flex;
  justify-content: space-around;
  gap: 250px;
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
  height: 85px;


}

.btn {
  font-family: 'Georgia,Cambria,"Times New Roman",Times,serif';
  /* text-shadow: 0 1px #fff; */
  color: white;
  font-weight: 1px;
  border: black solid;
  font-size: 15px;
  text-decoration: none;
  border-radius: 50px;
  padding: 5px 10px;
  text-align: center;
  background-color: rgb(0, 0, 0);
  transition-duration: 00.2s;
}

.btn:hover {
  border: solid;
  cursor: pointer;
  background-color: rgba(118, 179, 178, 0.701);
  text-align: center;
}



.home{
  text-decoration: none;
  font-weight: bold;
}

.home:hover{
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6, a, ol, li, ul, div, span,
body, header, nav {
  font-size: 1rem;
  color: inherit;
  background-color: transparent;
  margin: 0;
  padding: 0;
  outline: 0;
  font-weight: normal;
}

h1 {
  font-size: 2rem;
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.container{
  /* border-bottom: 1px solid black; */
  background-color: white;
  padding: 15px 15px 20px 20px;

}

.login-head{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  /* border-bottom: 4px solid rgb(230, 230, 230, .3); */
}

.space{
  padding: 0px 10px;
  text-decoration: underline;
}


.login, .register, .demo-user, .home-unauthorize {
  text-decoration: none;
}
.login:hover, .register:hover, .demo-user:hover{
  color: rgba(85, 85, 85, 1);
}


